---
import LibraryIcon from "../assets/icons/Library.astro";
import Home from "../assets/icons/Home.astro";
import Search from "../assets/icons/Search.astro";
import SideItemMenu from "./SideItemMenu.astro";
---

<nav class="flex flex-col flex-1 gap-2">
  <ul>
    <div class="bg-aside-main rounded-lg py-2 px-3">
      <SideItemMenu href="/#">
        <Home color="#fff" />
         Inicio
      </SideItemMenu>

      <SideItemMenu href="/#">
        <Search color="#fff" />
         Buscar
      </SideItemMenu>
    </div>
  </ul>

  <div class="bg-aside-main rounded-lg py-1 px-3 flex-1">
    <ul>
      <SideItemMenu href="/#">
        <LibraryIcon color="#fff" />
         Tu biblioteca
      </SideItemMenu>
    </ul>
  </div>
</nav>

<style>
  .bg-aside-main {
    background-color: #121212;
  }
</style>
